

<div class="container d-flex flex-row justify-content-center" style="height: 550px;">
    <img src="~/images/Cabajo.jpg" alt="Imagem do Livro" class="img-thumbnail m-5" style="max-height: 750px; object-fit: contain;">
    <div class="align-content-center d-flex flex-column gap-3 m-5 align-self-center">
        <h1 class="fw-bold">Nome: <span class="fw-normal">[Autor]</span></h1>
        <h3 class="fw-bold">???: <span class="fw-normal">[???]</span></h3>
    </div>
</div>