<h1 style="text-align: center;" class="mb-5 fw-bold">Adicione um Autor</h1>

<div class="form-out">
    <form class="form" style="" action="" method="post">
        <label class="form-label" for="nameInput" >Nome:</label>
        <input class="form-input" type="text" name="name" id="nameInput" style="width: 20rem;" placeholder="Digite o nome do Autor..." required>
        <label class="form-label" for="descricaoInput">Descrição:</label>
        <textarea name="descricao" id="descricaoInput" class="form-textarea" placeholder="Dê uma breve descrição ao Autor"></textarea required>
        <label class="form-label" for="imageInput">Imagem:</label>
        <input class="form-input" type="file" name="image" id="imageInput" style="background-color: transparent;" required>

        <button type="submit" class="form-button button-primary">Criar Autor</button>
    </form>
</div>